.error-component {
    position: relative;
    display: block;
    padding: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    overflow-x: auto;
    white-space: pre-wrap;
    border-radius: 0.25rem;
    background-color: rgba(206, 17, 38, 0.05);
    color: inherit;
}