.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.myroot__inputblock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  background-color: rgba(255, 255, 100, 0.5);
  outline: 1px solid rgba(100, 255, 100, .5);
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 5px;
}

.myroot__items {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 800px;
  padding-left: 0;
}

.myroot__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 2;  
  margin: 5px;
  padding: 0;
  width: calc(100% / 2 - 10px);
}

.myroot__item--input {
  width: calc(100% - 65px);
  font-size: 20px;
}

.myroot__item--label {
  width: 65px;
  font: 20px sans-serif;
}

.btn {
  width: 75px;
  height: 35px;
  margin-bottom: 10px;
}